* {margin: 0; padding: 0; box-sizing: border-box;;}
body{
    margin:20px;
}
.box{
    border: 5px solid gray;
    padding: 20px;
    box-sizing: border-box;
}

.container{
    border:1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.container div{
    /* width: 200px; */
    padding: 20px 40px;
    background-color: green;
    margin:10px 0;
    width: 300px;
    box-sizing: border-box;    
    
}

.container div:nth-child(odd){
    background: rgb(255, 94, 0);
    
}

.content1 #opt1 {
    display: flex;
    flex-direction: row;
}
.content1 #opt2 {
    display: flex;
    flex-direction: row-reverse;
}
.content1 #opt3 {
    display: flex;
    flex-direction: row;
}
.content1 #opt4 {    
    display: flex;
    flex-direction: column-reverse;
}

.content2 #opt1 {
    display: flex;
    flex-wrap: nowrap;
}
.content2 #opt2 {
    display: flex;
    flex-wrap: wrap wrap-reverse;
        
}
.content2 #opt3 {
    display: flex;
    flex-wrap: wrap-reverse;
    
}

.content3 #opt111{
    display: flex;
    justify-content: start;

}
.content3 #opt112{
    display: flex;
    justify-content: end;
}
.content3 #opt113{
    display: flex;
    justify-content: center;
}
.content3 #opt114{
    display: flex;
    justify-content: space-between;
}
.content3 #opt115{
    display: flex;
    justify-content: space-around;
}
.content3 #opt116{
    display: flex;
    justify-content: space-evenly;
}
@media screen and (max-width: 1000px){
    #opt3 {
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    .content2 #opt1 {flex-wrap: wrap;}
}